// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  margin: 0px;
  height: 325px;
  width: 500px;
}